#equipe {
  padding: 75px 0;
  background: $ciano-claro;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 178px;
    top: 7%;
    left: 93.7%;
    background: url("../img/detalhe-equipe.svg");
    background-repeat: no-repeat;
    overflow: hidden;
    @include d(s) {
      display: none;
    }
    @include d(m) {
      left: 88.3%;
      overflow: hidden;
    }
  }
}

#oslo,
#recife,
#novaiorque {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  @include d(s) {
    flex-direction: column;
  }
}

.owl-carousel {
  padding-top: 90px;
  position: relative;
  @include d(s) {
    padding-top: 30px;
  }
}

.team_card {
  width: auto !important;
  background: $branco;
  margin-right: 20px;
  @include d(s) {
    margin: 0 20px 20px 20px;
  }
  @include d(m) {
    display: inline-block !important;
    margin: 0 20px 20px 0;
  }
}

.team_location {
  cursor: pointer;
}

.team_location > a {
  @include btn_default($amarelo-claro, 10px, 1.25rem);
  margin-right: 15px;
  @include d(s) {
    margin-right: 10px !important;
    padding: 5px !important;
    font-size: 1rem !important;
  }
}

.team_location.active > a {
  background-color: rgba($amarelo-claro, 0.25) !important;
}

.team_card_content {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_card_title {
  margin-top: 20px;
  color: $ciano-escuro;
  font-weight: bold;
  font-size: 1rem;
}

.team_card_contact {
  margin-top: 10px !important;
  color: $cinza-placeholder;
}

.equipe_title_container {
  margin-bottom: 110px;
}

.equipe_title {
  font-size: 2.85rem;
  font-weight: bold;
  color: $branco;
  position: relative;
  padding-bottom: 15px;
  &::after {
    content: "";
    height: 2px;
    width: 97px;
    top: 100%;
    display: block;
    position: absolute;
    background: $amarelo;
  }
}
