//Cores
$cinza-cobertura: #c8c8c8;
$cinza-endereco: #707070;
$cinza-placeholder: #858585;
$cinza-copyright: #5b5b5b;
$cinza-cardborder: #00000029;
$cinza-bg: #efefef;
$branco: #ffffff;
$ciano-claro: #24bec6;
$ciano-escuro: #078c92;
$amarelo: #f9ca55;
$amarelo-claro: #ffe8af;

// Fontes
$font: "Noto Sans", sans-serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Mixins de media-querie
//Variaveis de media-querie

$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

@mixin d($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}

@mixin btn_default($color, $padding: 10px, $fontSize: 1rem) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border: 2px solid $color;
  border-radius: none;
  padding: $padding;
  font-size: $fontSize;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background-color: rgba($color, 0.25);
    color: $color;
  }
}
